<%
  var title = "";
  var type = "";
  var counter = 0;

  if (is_archive()) {
    type = "archive";
    title = __(type + ".title");
    counter = site.posts.length;
  } else if (is_category()) {
    type = "category";
    title = __(type + ".title") + ': ' + page.category;
    counter = filter(site.posts.data, post => {
      return post.categories.data.filter(
      doc => doc.name === page.category
      ).length > 0;
    }).length
  } else if (is_tag()) {
    type = "tag";
    title = __(type + ".title") + ': ' + page.tag;
    counter = site.posts.data.filter(post => {
      return post.tags.data.filter(
      doc => doc.name === page.tag
      ).length > 0;
    }).length
  }

  var posts = page.posts;
  var years = {};
  var order = [];
  posts.forEach(function(post) {
    var year = post.date.year();

    if (year in years) {
        years[year].push(post);
    } else {
        years[year] = new Array(post);
        order.push(year);
    }
  
  });
%>

<section class="section ">
  <div class="container">
    <header class="title has-text-centered">
      <h1 class="title is-1"><%- title %></h1>
    </header>
    <section class="content">
      <div class="column is-half is-offset-one-quarter">
      <p class="subtitle is-4 is-spaced"><%= _p(type + ".counter", counter) %></p>

      <% order.forEach(function(year) { %>
        <h2 class="title is-4"><%= year %></h2>
        <ul>
          <% years[year].forEach(function(post) { %>
            <li class="columns">
              <span class="is-hidden-mobile column is-2" style="padding: 0; margin-right:0.5em; font-size:0.9em">
                <time style="font-family: 'Menlo', 'Meslo LG', monospace" datetime="<%= date_xml(post.date) %>"><%= full_date(post.date, 'MMM DD') %></time>
              </span>
              <span class="column" style="padding: 0">
                <a href="<%= url_for(post.path) %>"><%= post.title %></a>
              </span>
            </li>
          <% }) %>
        </ul>
      <% }) %>

        </div>
    </section>
  </div>
</section>
